* {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: lato;
}
.container {
  width: 50vw;
}
#clock {
  width: 100vw;
  font-size: 4em;
  margin: 0 10vw;
  color: rgb(255, 115, 0);
}
.align {
  margin-top: 5%;
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  font-weight: 600;
}
#resetlapbtn {
  position: absolute;
  left: 50%;
  margin-top: 10px;
  transform: translateX(-50%);
  padding: 5px 15px !important;
}
.align button,
#resetlapbtn {
  font-size: 1.2em;
  background-color: rgba(128, 128, 128, 0.6);
  color: rgb(216, 216, 216);
  outline: none;
  border: 2px solid transparent;
  border-radius: 25px;
  padding: 10px 80px;
  cursor: pointer;
}
.align button:hover {
  transition: 150ms ease;
  color: white;
}
#lap,
#resetlapbtn {
  background-color: rgba(128, 128, 128, 0.3);
}
#lap:hover,
#resetlapbtn:hover {
  box-shadow: 0 0 50px 10px rgba(128, 128, 128, 0.8);
  background-color: rgba(128, 128, 128, 0.6);
}
.align .start {
  color: white;
  background-color: rgba(113, 255, 113, 0.2);
}
.start:hover {
  box-shadow: 0 0 50px 10px rgba(113, 255, 113, 0.6);
  background-color: rgba(113, 255, 113, 0.4);
}
.stop {
  color: white;
  background-color: rgba(245, 40, 40, 0.4) !important;
}
.stop:hover {
  box-shadow: 0 0 50px 10px rgba(245, 40, 40, 0.6);
}
.populate {
  border-bottom: 1px solid grey;
  max-height: 45vh;
  min-height: 45vh;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 5%;
  padding-bottom: 25px;
}
.laprow {
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
}
hr {
  width: 80%;
  margin: 0 10%;
  background-color: grey;
  border-radius: 2px;
  border-color: grey;
}

::-webkit-scrollbar {
  width: 20px;
  transition: 1s ease;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
